@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #24252A;*/
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 17px 10%;
  
}

.menu1{
	align-items: right;
    list-style: none;
}

.menu1 li{
    display: inline-block;
    padding: 0px 20px;
}

.menu1 li a {
  transition: all 0.3s ease 0s;
}

.menu1 li a:hover {
    color: #0088a9;
}
